<div class="text-white py-2">


    <div class="row ">
        <div class="col-6">
            <div class="footer-section m-5 ">
                <h1 class="">Start your Shopping</h1>
                <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo autem accusantium ab voluptatibus, a molestiae? Ut adipisci deserunt delectus quod, pariatur voluptatum tempora consequuntur, odit, dignissimos neque vero debitis! Fugit?</h5>
           
        </div>
        </div>

        <div class="col-6">
            <div class="text-center  m-5 p-5 ">
                <h4 class="">CONTACT US</h4>
               <div class="fs-5 " >
                    <i class="fa-brands fa-facebook icon"></i>
                    <i class="fa-brands fa-x-twitter icon"></i>
                    <i class="fa-brands fa-whatsapp icon"></i>
                    <i class="fa-brands fa-instagram icon"></i>
               </div>
               
            </div>

        </div>


       
    </div>
    <p class="text-center" >All rights are reserved @ Fashion App 2024
    </p>
</div>