<app-header></app-header>

<div *ngIf="products.length<=0" class="container text-center">
    <img class="mt-5 " src="https://i.postimg.cc/7hvhvr65/shop.gif " alt="">
    <h4 class="mt-5">Your Cart Is Empty!</h4>
    <button class="m-5 p-2 bg-dark text-white" >Add More Items</button>

</div>


<div  class="container">
    <div *ngIf="products.length>0" class="row">
       <div class="col-lg-9">
            <div data-aos="zoom-in-up"  *ngFor="let i of products" class="card m-5 border-dark" style="max-width: 550px;">
                <div class="row g-0 text-center">
                    <div class="col-md-4">
                        <img [src]="i.image" class="img-fluid rounded-start w-75 mt-4" alt="..." >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">{{i.title}}</h4>
                            <p class="card-text">{{i.category}}</p>
                            <h5>$ {{i.price}}</h5>

                           
                             <i (click)="decrementCartItem(i._id)"  class="fa-solid fa-minus"></i>
                            <input class="text-center ms-2 me-2" type="num" [value]="i.quantity"  style="width: 30px;">
                            <i (click)="incrementCartItem(i._id)" class="fa-solid fa-plus"></i>
    
                           <div class="d-flex text-center ms-5 justify-content-end ">
                           
                            <button (click)="removeItem(i._id)"  class="btn fs-2">
                                <i class="fa-solid fa-trash" style="color: red;"></i>
                            </button>
                        </div>
                        </div>
                    </div>
    
                   
                </div>
                
            </div>
       </div>
       <div data-aos="flip-right"  class="sub col-lg-3 text-center mb-2 mt-5 " style="background-color: rgb(2, 97, 97); height: 12rem;">
        
        <h2 class="mt-5 text-white">Total Price: ${{totalPrice}}</h2>
        <button (click)="checkOut()" class="btn btn-outline-success p-1 mt-3">Checkout</button>

       </div>
    </div>
</div>
